body, html{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;

	font-family: Futura, "Trebuchet MS", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size:14px;
	background-color:#eee;
}

h1, h2, h3, h4, h5, h6{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	margin:0px;
	padding:0px;
}

div#container {
	position:relative;
	min-height:100%;
}
